@import "./../../common/scss/common.scss";

html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  font-family: monospace;
  background-color: #FDD10E;
  .common_block {
    width: 80%;
    margin-left: 10%;
  }
  #topContainer {
    height: 100%;
    #homeContainer {
      height: 100%;
    }
    .main_container {
      margin-left: 5%;
      height: 100%;
      @include flex;
      @include flex-direction(column);
      @include justify-content(center);
      .container {
        @include flex;
        @include align-items(center);
        .main_text {
          width: 60%;
        }
        .home_smile {
          margin-left: 5%;
          width: 35%;
        }
      }
      .bottom_text {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        color: rgba(255, 255, 255, 0.65);
      }
    }
  }
}
